body,
#root {
  height: 100vh;
}

.isActive {
  cursor: default;
}

.notActive {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 3px;
}

.radial-gradient-bgLight {
  background: radial-gradient(#ffffff, #d3d3d3);
}

.gradient-overlay-bgLight {
  background: radial-gradient(circle, transparent 70%, #ffffff);
}

.radial-gradient-bgDark {
  background: radial-gradient(#121212, #202020);
}

.gradient-overlay-bgDark {
  background: radial-gradient(circle, transparent 70%, #121212);
}

#custom-bg,
#pokeball-container {
  height: 100%;
}

#pokeball-pattern {
  background-size: 10%;
  position: absolute;
  left: 50%;
  translate: -50% 0%;
  z-index: 1;
  height: 100%;
  width: 100%;
  opacity: 0.1;
  animation: pan 60s linear infinite;
  will-change: background-position;
}

#pokeball-gradient-overlay {
  position: absolute;
  inset: 0;
  opacity: 0.9;
  z-index: 2;
}

.pagination {
  padding: 0 8px !important;
}

.pagination div {
  padding: 8px 24px 8px 8px !important;
}

.pokemon-image {
  position: absolute;
  cursor: pointer;
  filter: contrast(0%) brightness(0.4);
  top: 45px;
  width: 100px;
  opacity: 0.3;
}

.prev {
  left: -30px;
}

.next {
  right: -30px;
}

.prev:hover,
.next:hover {
  animation: reveal 0.5s ease forwards;
}

@keyframes reveal {
  100% {
    filter: contrast(100%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
